// Colors
$color-dark-gray: #BEBEBE;
$color-light-gray: #F5F5F5;
$color-white: #FFFFFF;
$color-hover-effect: #FF7373;
$color-dark: #23262A;
$color-lighter-dark: #616365;
$color-winter-clearance: #cac0be;
$color-new-arrivals: #e7e7e7;

// Fonts
$font-main: 'Poppins';

// Font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

// Font-sizes
$font-size-13: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-45: 2.75rem;
$font-size-65: 4rem;